<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
<div id="app">

  <div style="text-align: center">

    <h2 v-for="(name,index)  in fullNames" :key="name.firstName">{{index}}.{{name.firstName}} {{name.lastName}}</h2>
    <hr>
    <h2 v-for="(value,key,index) in myDatas" :key="value">{{index}} {{key}}: {{value}}</h2>
  </div>
  <hr>
  <div v-for="n in 10">
    <p class="text-center">
      {{n}}

    </p>


  </div>

</div>

<script>
 new Vue({
    el: `#app`,
    data: {
      names:[ "Bappy", "Ashik", "Shamim" ],
      fullNames : [
        {firstName: "Tanvir Hossen", lastName: "Bappy"},
        {firstName: "Ashikur Rahman", lastName: "Ashik"},
        {firstName: "Shamim Ahamed", lastName: "Sujon"},
      ],
      actors : [
        {
          name: 'Robert Downey Jr',
          movies : ['Iron Man', 'Sherlock Holmes']
        },
        {
          name: 'Chris HemsWorth',
          movies : ['Thor', 'The Huntsman: Winters War']
        },
      ],
      myDatas :
              {
                Name: 'Tanvir Hossen Bappy',
                Profession: 'Software Engineer Web',
                Company: 'IBSS - Integrated Business Systems & Solutions PVT. Ltd.',
              }
    },
    methods:{
      hello(){

      }

    }
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>